@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/material.css';

.CodeMirror{
    width: 50vw;
    height: 90vh;
    border: 2px #000000;
    border-style: solid;
}

.latex-render{
    padding: 20px;
}

