.editorWrapper{
    display: flex;
}

.explorerWrapper{
    width: 20%;
}

.fileEditorWrapper{
    width: 80%;
}

.react-codemirror2{
    width: 50%;
}

.latex-render{
    width: 50%;
}

.pdfViewer{
    width: 100%;
    height: 100%;
}
